<div class="content">
  <!-- Example row of columns -->
  <div class="span7">
    <%#= yield %>
    <div class="">
      <div class="page-header">
        <h1><%= current_user.linkedin_user.full_name %> <small><%= current_user.linkedin_user.headline %></small></h1>
      </div>
      <%= render :partial => 'home/partials/projects' %>
      <%= render :partial => 'home/partials/experience' %>
    </div>
  </div>
</div>